.contact-container {
  position: relative;
  z-index: 100;
  padding: 20px 16px;
}


.primary-cta:hover {
  background: #97080f;
}

.form-control {
  font-size: 14px !important;
  line-height: 18px !important;
  height: auto !important;
  padding: 8px 10px !important;
  color: #000 !important;
}

.form-control:placeholder-shown {
  font-size: 14px;
  line-height: 18px;
  color: #d1c7c7;
}

.form-control:focus {
  box-shadow: none !important;
}

.formik-error {
  color: #F00;
  font-size: 12px;
  line-height: 15px;
}